.listing-page {
  
  .map {
    height: 50vh;
  }
  
  .search-form {
    position: sticky;
    top: 3rem;
    padding: 0 3rem;
    .floating {
      position: absolute 0 0 auto 0;
      transform: translateY(-50%);
      z-index: 10;
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      margin: 0 auto;
      width: 80%;
      max-width: 32rem;
      border-radius: 8rem;
      background-color: white;
      overflow: hidden;
      box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
      input {
        padding: 1rem 2rem;
        border: none;
        background-color: none;
        width: 100%;
        &:focus {
          outline: none;
        }
      }
      button {
        margin: 0;
        border: 0;
        border-radius: 0;
        background-color: aliceblue;
      }
    }
  }
  
  
  .item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    background-color: var(--accent-color);
    border-bottom: 1px solid var(--alt-accent-color);
    color: white;
    text-decoration: none;
    img {
      display: block;
      width: 6rem;
      height: 6rem;
      object-fit: cover;
      margin-right: 1rem;
    }
    .info {
      max-width: calc(100% - 9rem);
      .title {
        color: inherit;
        margin: 0;
      }
      .description {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }


  .map-marker-info-window {
    display: flex;
    align-items: center;
    img {
      max-width: 8rem;
      margin-right: 1rem;
    }
    .info {

    }
  }
}
