/*------------------------------------*\

  Global css 

\*------------------------------------*/

@font-face {
  font-family: 'CircularStd';
  src: url('../assets/CircularStd/CircularStd-Book.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url('../assets/CircularStd/CircularStd-Medium.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url('../assets/CircularStd/CircularStd-Bold.otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url('../assets/CircularStd/CircularStd-Black.otf');
  font-weight: 900;
  font-style: normal;
}


@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: local('Nunito Light'), local('Nunito-Light'), url(https://fonts.gstatic.com/s/nunito/v9/XRXW3I6Li01BKofAnsSUYevI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.gstatic.com/s/nunito/v9/XRXV3I6Li01BKofINeaB.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: local('Nunito Bold'), local('Nunito-Bold'), url(https://fonts.gstatic.com/s/nunito/v9/XRXW3I6Li01BKofAjsOUYevI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



:root {
	--text-color: #FFFFFF;
	--background-color: #323232;
	--accent-color: #06D19C;
}



/* === Global variables === */
:root {
	--text-color: #A1AAB3;
	--emphasis-text-color: #182430;
	--background-color: #F5FAF8;
	--alt-background-color: #EDF1F2;
  --accent-color: #1A72ED;
  --alt-accent-color: #186CE0;
  --border-color: #eee;

  --success-color: #06d19c;
  --danger-color: tomato;
}



/* === Default cascade === */
html {
  font-family: 'Nunito', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: responsive 14px 18px;
  font-range: 420px 1280px;
  color: var(--text-color);
  background-color: var(--background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "liga" on;
  scroll-behavior: smooth;
}

body {
  position: relative;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

::selection {
	background: var(--accent-color);
	color: var(--background-color);
}


/* === Default styles === */

p {
  margin-bottom: 1.3em;
}

h1, h2, h3, h4 {
  font-family: 'CircularStd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: var(--emphasis-text-color);
  margin: 1.414em 0 0.5em;
}

h1 {
  font-size: 2.074em;
}

h2 {
  font-size: 1.728em;
}

h3 {
  font-size: 1.44em;
}

h4, h5 {
  font-size: 1.2em;
}

small, h6 {
  font-size: 0.833em;
  margin: 0.25em 0;
}

pre {
  font-family: monospace, monospace;
  font-size: 0.85rem;
  width: min-content;
  color: var(--emphasis-text-color);
  background: var(--alt-background-color);
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  padding: 8pt 16pt;
  width: 100%;
  overflow: auto;
  border: 1px solid var(--border-color);
  border-radius: 0.2rem;
}

a {
  cursor: pointer;
  text-decoration: underline;
  color: var(--accent-color);
}

button {
  display: inline-block;
  padding: 6pt 20pt;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  font-weight: 400;
  line-height: 1.7;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
  text-decoration: none; 
  cursor: pointer;
  &:hover,
  &:focus {
    outline: 0;
  }
  &:disabled {
    opacity: 0.25;
    cursor: default;
    pointer-events: none;
  }
}

img {
  max-width: 100%;
}

svg {
  fill: none;
  max-width: 100%;
}

label {
  margin-bottom: 2pt;
  display: block;
  text-align: left;
  color: inherit;
  font-size: 0.9em;
  padding-left: 10pt;
}

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"] {
  appearance: none;
  border: 1px solid var(--border-color);
  width: 100%;
  color: var(--emphasis-text-color);
  font-family: inherit;
  font-weight: inherit;
  padding: 10pt 20pt;
  border-radius: 1.5rem;
  background-color: var(--alt-background-color);
  margin-bottom: 1rem;
  display: block;
  &:focus {
    border-color: rgba(108, 99, 255, 0.5);
    outline: 0;
    background-color: var(--background-color); 
  }
}

textarea {
  appearance: none;
  border: 1px solid var(--border-color);
  width: 100%;
  color: var(--emphasis-text-color);
  font-family: inherit;
  font-weight: inherit;
  padding: 12pt 24pt;
  border-radius: 1.5rem;
  background-color: var(alt-background-color);
  margin-bottom: 1rem;
  display: block;
  resize: none;
  min-height: 8em;
  outline: 0;
  &:focus {
    border-color: rgba(108, 99, 255, 0.5);
    outline: 0;
    background-color: var(--background-color); 
  }
}

select {
  border: 1px solid var(--border-color);
  width: 100%;
  color: var(--emphasis-text-color);
  font-family: inherit;
  font-weight: inherit;
  padding: 10pt 20pt;
  margin-bottom: 1.4em;
  display: block;
  border-radius: 1.5rem;
  background-color: var(alt-background-color);
  outline: 0;
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" data-prefix="fas" data-icon="caret-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-caret-down fa-w-10 fa-3x"><path fill="currentColor" d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z" class=""></path></svg>');
  background-repeat: no-repeat;
  background-position: calc(100% - 1.5rem) center;
  background-size: 0.8em;
  &::-ms-expand {
    display: none;
  }
}

::-webkit-input-placeholder {
  font-size: .9em;
  opacity: .65;
  color: inherit;
}
:-moz-placeholder {
  font-size: .9em;
  opacity: .65;
  color: inherit;
}
::-moz-placeholder {
  font-size: .9em;
  opacity: .65;
  color: inherit;
}
:-ms-input-placeholder {
  font-size: .9em;
  opacity: .65;
  color: inherit;
}





/*------------------------------------*\
    Utilities
\*------------------------------------*/

.container {
  width: 88%;
  max-width: 1080px;
  margin: 0 auto;
  position: relative;
}

.text-container {
  max-width: 640px;
}

.row {
  display: flex;
  justify-content: space-between;
  > .col {
    flex: 1;
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}





/*------------------------------------*\
    Root view styling
\*------------------------------------*/

.app {
  position: relative;
  
  scroll-behavior: smooth;

  transform: translateY(0);
  transition: opacity 300ms, transform 300ms cubic-bezier(0.16, 1, 0.16, 1);

  .map {
    height: 50vh;
  }
  
  .search-form {
    position: absolute;
    top: 50vh;
    left: 0;
    right: 0;
    padding: 0 3rem;
    z-index: 10;
    
    .floating {
      position: absolute 0 0 auto 0;
      transform: translateY(-50%);
      z-index: 10;
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      margin: 0 auto;
      width: 80%;
      max-width: 32rem;
      border-radius: 8rem;
      background-color: white;
      overflow: hidden;
      box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
      input {
        padding: 1rem 2rem;
        border: none;
        background-color: none;
        width: 100%;
        &:focus {
          outline: none;
        }
      }
      button {
        margin: 0;
        border: 0;
        border-radius: 0;
        background-color: aliceblue;
      }
    }
  }


  .bottom {
    position: relative;
    max-height: 100vh;
    overflow: auto;
    border-top: 1px solid var(--border-color);
  }
  
  
  .item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    background-color: var(--background-color);
    border-bottom: 1px solid var(--alt-background-color);
    color: var(--emphasis-text-color);
    text-decoration: none;
    img {
      display: block;
      width: 6rem;
      height: 6rem;
      object-fit: cover;
      margin-right: 1rem;
    }
    .info {
      max-width: calc(100% - 9rem);
      .title {
        color: inherit;
        margin: 0;
      }
      .description {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }


  .map-marker-info-window {
    display: flex;
    align-items: center;
    img {
      max-width: 8rem;
      margin-right: 1rem;
    }
    .info {

    }
  }
}
